@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, bem vindo a PlanDo </h1>
    <p> Veja abaixo algumas atividades que pode fazer na sua plataforma de gerenciamento de Product Backlog</p>
</div>
<br /> <br/> <br/> <br/>
<div class="row">
    <div class="col-md-4">
        <h2>Criar, editar, apagar</h2>
        <p>
            É muito facil voce criar novas tarefas, ver os detalhes dela, editar e exclui-las.
            Em uma página sem segredos e nada muito complexo, voce é capaz de fazer todas essas funções e muito mais!!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sistema de busca</h2>
        <p>Voce é o tipo de usuário que cria muitas tarefas para não poder esquecer mesmo? Mas acaba se perdendo de tanta tarefa criada?
            Por aqui, voce vai ter um sistema de busca onde poderá pesquisar e filtar suas tarefas de acordo com o grau de importancia dela!
        </p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>