@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, bem vindo a PlanDo </h1>
    <p> Veja abaixo algumas atividades que pode fazer na sua plataforma de gerenciamento de Product Backlog</p>
</div>
<br /> <br/> <br/> <br/>
<div class="row">
    <div class="col-md-4">
        <h2>Criar, editar, apagar</h2>
        <p>
            É muito facil voce criar novas tarefas, ver os detalhes dela, editar e exclui-las.
            Em uma página sem segredos e nada muito complexo, voce é capaz de fazer todas essas funções e muito mais!!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sistema de busca</h2>
        <p>Voce é o tipo de usuário que cria muitas tarefas para não poder esquecer mesmo? Mas acaba se perdendo de tanta tarefa criada? <br />
            Por aqui, voce vai ter um sistema de busca onde poderá pesquisar e filtar suas tarefas de acordo com o grau de importancia dela!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Adicionar mídia *</h2>
        <p>As vezes, para explicar algo, é melhor mostrar algo! <br /> Com isso é possível adicionar mídia nas suas tarefas do ProductBacklog, para ter exemplos de layout de paginas, algo sobre música? é possivel adicionar tambem um arquivo mp3</p>
        <p> *Ainda em fase de desenvolvimento</p>
    </div>
</div>