@{
    ViewBag.Title = "Audio e Video";
}

<h2>Audio e Video</h2>

<div id="content">

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js" type="text/javascript"></script>
 <link href="Content//Site.css" rel="stylesheet" type="text/css" />
<audio id="audio">
   <source src="@Url.Content("")" type="audio/mp3" >
</audio>

<
<div id="audio-controls">
    Audio: <button class="play">play</button>
    <span class="time"></span>
<div class="secondary-controls">
     Volume:
    <button id="volume-up">+</button>
    <button id="volume-down">-</button>
    <button id="mute">mute</button>
    <span id="volume"></span>
</div>
</div>
  <div id="avfooter">
      <p>Video copyright 2012, <a href="http://iangilman.com">Ian Gilman</a>.</p>
      <p>Audio by <a href="http://gwaxtrio.bandcamp.com"> Gennaro's Wax Trio</a>, copyright 2008, BMI, BLZDub Music; used by permission.</p>
  </div>
</div>
<script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>