
@model BancoMusica.Models.Musica

@{
    Layout = "_Layout - Cópia";
    ViewData["Title"] = "Details";
}

<h1>Detalhes - Backlog</h1>

<div>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            <label>Titulo</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class = "col-sm-2">
            <label>Descrição</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class = "col-sm-2">
            <label>Data de finalização</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt class = "col-sm-2">
            <label>Grau de importancia</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt> Mídia </dt>
        <dd class = "col-sm-10">
            <img src="~/audio/@Html.DisplayFor(model => model.Video)">
        </dd>
    </dl>

       
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>



